.game-arena {
	display: inline-block;
	border: solid 3px #FF0000;
	border-radius: 15px;
	float: center;
	position: relative;
	width: 60%;
	background-color: blue;
}

#output {
	display: inline-block;
	color : yellow;
	position: center;
}

.controls{
	margin-left: 100px;
	width: 20%;
}

#last {
	color : #AB0011;
	font-family : Verdana;
	margin-left: 250px;	
}
