html {
	margin :0;
	padding:0;
	box-sizing: border-box;
	font-family: "Roboto","sans-serif";
	text-rendering: optimizeLegibility;
	font-weight: 200;
	font-size: 20px;
	color: #ffffff;
}

body {
	background-color: #112b42;
}

h2 {
	text-align: center;
	margin: 0 auto;
}

#container {
	background-color: #562308;
	margin: 1em;
	padding: 1%;
	width: 50%;
	margin-left: 25%;
}

.images {
	background-color: #112b42;
	padding: 1%;
}

#playercards {
	margin : 0 auto;
	padding: 0.5%;
	background-color: #31172a;	 
}

#dealercards {
	margin : 0 auto;
	padding: 1%;
	background-color: #062c09;	 
}

#dealBtn {
	display: block;
	margin :1% auto;
	border-radius: 1%;
}

#hitBtn,#standBtn {
	display: inline;
	position : relative;
	margin: 0 auto 1% 25%;
	border-radius: 1%;
}

input[type=text]{
  border-radius:8px;
}

.sumdisplay {
	display: block;
	text-align: center;
}

#playersum,#dealersum {
	display: block;
	margin : 1% auto;
}

#dealersum {
	margin-bottom: 1%;
}

.result {
	display: block;	
	text-align: center;
}

#resultbox {
	font-size: 15px;
	margin : 0 auto 0 10%;
	width: 60%;
	position: relative;
	color:red;
	font-weight: 200;
}